<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>ミルククラウンを240fpsで撮影するためにカメラへのアクセスが必要です。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>撮影した動画を写真ライブラリに保存するためにアクセスが必要です。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>撮影した動画を写真ライブラリに保存するためにアクセスが必要です。</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
		<key>UIColorName</key>
		<string></string>
	</dict>
</dict>
</plist>
